/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav .brand-logo,
nav ul a {
    color: black !important;
}


/* Body */

section {
    padding-top: 100px !important;
}

.categorie {
    color: black !important;
}

.card-panel {
    margin: 55px !important;
}

article {
    font-size: 16px;
}


/* Autres */

.date {
    text-decoration: underline;
}

.divers {
    text-decoration: underline;
}


/* Bouton */

.buttonUp {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 1600px;
    padding-right: 100px;
}


/* Footer */

.text {
    color: black !important;
}

footer.page-footer .footer-copyright {
    color: black !important;
}


/*@font-face {
    font-family: 'Font/Rude';
    src: url('Font/Rude.eot');
    src: url('Font/Rude.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    font-family: 'Rude', Arial, sans-serif;
}*/
